

<div>

  <p>Ім'я:{{doctor.name}}</p>
  <p> Прізвище: {{doctor.surname}}</p>
  <p> Email: {{doctor.email}}</p>
  <p> Мобільний номер:{{doctor.phone_number}}</p>
  <p> Поверх:{{doctor.floor}}</p>
  <p> Кабінет:{{doctor.office}}</p>
  <p> Досвід: {{doctor.work_experience}} років</p>
  <p> Опис:{{doctor.description}}</p>
  <p> Відділ:{{doctor.department.label}}</p>

</div>
<br>
<h1>Коментарі:</h1>
<div *ngFor="let coment of allcomments">
  <p>{{coment.data| date:'dd.MM.y HH:mm'}}</p>
  <p>{{coment.text}}</p>
</div>
<div *ngFor="let comment of newComment">
  <p>{{comment.data| date:'dd.MM.y HH:mm'}}</p>
  <p>{{comment.text}}</p>
</div>
<div [class.sendCom]="wiev" >
  <form  [formGroup]="createComment" (ngSubmit)=SendComment()>
  <textarea  type="text" formControlName="text" placeholder="Напишіть коментар"></textarea>
  <br>
  <button [disabled]="loading" > Відправити </button>
  </form>
</div>





